<p>Dear {FIRSTNAME} {LASTNAME},</p>
<p>
  Your application for the chair position in the following committees has been
  received and you will be informed about your application in due notice. Below
  are your chosen committees.
</p>
<table>
  <thead>
    <tr>
      <th>Committee 1</th>
      <th>Committee 2</th>
      <th>Committee 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{COM1}</td>
      <td>{COM2}</td>
      <td>{COM3}</td>
    </tr>
  </tbody>
</table>
<p>{DELEGATIONTEXT}</p>
<p>Sincerely, The PLISMUN &#39;23 Team</p>
<p><i>This email was sent by a robot</i></p>