.bgWrap {
  position: absolute;
  left: 0;
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}


form {
	.fieldError::before {
		display: inline;
		content: "⚠ ";
	}
	.wrongField {
		border-left: 8px;
		border-style: solid;
		border-color:rgb(191, 22, 80);
	}
}
// .wrongField {
//   margin-bottom: 20px;
//   border-width: 1px 1px 1px 10px;
//   border-style: solid;
//   border-color: rgb(191, 22, 80) rgb(191, 22, 80) rgb(191, 22, 80)
//     rgb(236, 89, 144);
//   border-image: initial;
//   // background: rgb(251, 236, 242);
// 	background-color: black;
// }
